name: Build Docker image and push it
run-name: Build Docker image and push it
permissions:
  contents: read
  packages: write
  pull-requests: write
on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
  schedule:
    # Build the image regularly (each Friday)
    - cron: '13 23 * * 5'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: "poland-tf/${{ github.event.repository.name }}"

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Cleanup build folder
        run: |
          ls -la ./
          rm -rf ./* || true
          rm -rf ./.??* || true
          ls -la ./
      - name: Checkout
        uses: actions/checkout@v6
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.GH_LOGIN }}
          password: ${{ secrets.GH_ACCESS }}
      - name: Docker meta
        id: docker_meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
          labels: ${{ steps.docker_meta.outputs.labels }}